name: Docker build and push
description: |
  This workflow builds and pushes a docker image to an Azure Container Registry (ACR) using the Docker CLI.
  This workflow is designed to be reusable and can be called from other workflows.
on:
  workflow_call:
    inputs:
      artifact_name:
        description: "The name of the build artifact to download"
        required: true
        type: string
      working_directory:
        description: "Path to a workding directory to use for the docker build"
        required: true
        type: string
      acr_image_repository:
        description: "The name of the image repository to use"
        required: true
        type: string
      acr_registry_login_server:
        description: "The login server for the ACR registry"
        type: string
        required: true
      image_tag:
        description: "The tag to use for the image"
        type: string
        required: true
      docker_file_name:
        description: "The name of the docker file to use"
        required: true
        type: string
      allow_build_and_push:
        description: "Allow the build and push to run. This is used to determine if the build and push job should run or not"
        type: boolean
        required: true

    secrets:
      acr_registry_login_username:
        description: "The login server for the ACR registry"
        required: true
      acr_registry_login_password:
        description: "The login server for the ACR registry"
        required: true
    
  workflow_dispatch:

jobs:
  docker_build_and_push:
    name: Build and push docker image
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
          path: ${{ inputs.working_directory }}/docker_artifact

      - name: Acr Login
        uses: azure/docker-login@v2
        with:
          login-server: ${{ inputs.acr_registry_login_server }}
          username: ${{ secrets.acr_registry_login_username }}
          password: ${{ secrets.acr_registry_login_password }}

      - name: List artifact
        working-directory: ${{ inputs.working_directory }}/docker_artifact
        run: |
          ls -R

      - name: Build and push to ACR
        if: ${{ inputs.allow_build_and_push }}
        working-directory: ${{ inputs.working_directory }}/docker_artifact
        run: |
          docker build -f ${{ inputs.docker_file_name }} -t ${{ inputs.acr_registry_login_server }}/${{ inputs.acr_image_repository }}:${{ inputs.image_tag }} .
          docker push ${{ secrets.acr_registry_login_server }}/${{ inputs.acr_image_repository }}:${{ inputs.image_tag }}
